@import './vars.scss';
@import './fonts.scss';


.footer-container{
    background-color: $default-black;
}

.footer{
    display: flex;
    justify-content: space-between;
    padding: 70px $width-padding-container 70px $width-padding-container;
}

.footer-text{
    width: 27%;
    color: $default-white;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 14.52px;
}

.footer-contact{
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    color: $default-white;
    &-item{
        text-decoration: none;
        font-family: Poppins;
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        text-align: left;
        color: $default-white;
    }

}


