@import './vars.scss';
@import './fonts.scss';

.header-container{
    padding: 30px $width-padding-container 30px $width-padding-container;
}
.header {
    display: flex;
    margin-bottom: 30px;
    justify-content: space-between;
    border-bottom: $border-section;
}

.header-cart-group{
    display: flex;
    align-items: center;
}

.header-nav-list{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    width: 90%;
}
.header-nav-item{
    font-family: $poppins;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    text-decoration: none;
    color:$default-black;
    &:hover{
        color: $default-accent-color;
    }

}
