$default-accent-color: rgba(51, 160, 255, 1);
$hover-accent-color:rgba(30, 150, 255, 1);
$active-accent-color: rgba(25, 133, 227, 1);
$border-color: rgba(197, 190, 190, 1);
$border-color-active: rgba(157, 204, 245, 1);
$border-color-option: rgba(209, 209, 209, 1);
$hover-color-option: rgba(51, 160, 255, 0.15);
$background-disabled: rgba(223, 222, 222, 1);
$default-white: rgba(244, 244, 244, 1);
$default-black:rgba(40, 42, 44, 1);
$product-name-color:rgba(34, 50, 99, 1);

$poppins: Poppins, sans-serif; 
$inter: Inter, sans-serif;


$select-box-shadow: 0px 0px 10px 0px rgba(161, 174, 207, 0.25);

$border-section: 2px solid rgba(219, 219, 219, 1);

$border-radius-mini: 4px;
$border-radius: 7px;

$width-padding-container: 360px;